# **1️⃣ 문제 1**

## **1-1. 제시문에 따라 전력 사용량을 입력 받고 적절한 작업을 수행해 주세요.(8점)**
- 이화 마트는 총 결제 금액에 따라서 할인율이 달라진다. 할인은 다음과 같은 규칙으로 적용된다.
  - 10만원 이하 결제 시: 할인율 5%
  - 10만원 초과 30만원 이하 결제 시: 할인율 10%
  - 30만원 초과 결제 시: 할인율 15%


- 최종 결제 금액은 각 구간에 맞는 할인율을 적용한 금액을 계산한 후, 총 결제 금액에서 해당 할인 금액을 차감하여 계산한다
 - ex) 총 결제 금액 = 50000원 (10만원 이하 결제 시 )
 - 할인 금액은 50000 * 0.05 = 2500원 이다.
 - 최종 결제 금액 = 50000 - 2500 = 47500원 이다.

- 위의 내용을 기반으로 총 결제 금액을 입력받으면 할인 후 최종 결제 금액을 출력하는 코드를 작성해 주세요.
  - 총 결제 금액은 `total_price`에, 할인 금액은 `discount`에, 할인 후 최종 결제 금액은 `final_price`라는 이름의 변수에 저장해 주세요.

**📌조건**
- `if`문 사용
- `total_price`는 0 이상 100만원 이하의 정수

**💚 Test Case**  
- [예시 1]  
  - 입력
  ```
  150000
  ```
  - 출력
  ```
   135000.0
  ```


- [예시 2]  
  - 입력
  ```
   50000
  ```
  - 출력
   ```
    47500.0
    ```

In [ ]:
# 입력 받기
total_price = float(input())

### 답안 작성 ###

# 할인 계산
if total_price <= 100000:
    discount = total_price * 0.05  # 10만원 이하: 5% 할인
elif total_price <= 300000:
    discount = total_price * 0.1  # 10만원 초과 30만원 이하: 10% 할인
else:
    discount = total_price * 0.15  # 30만원 초과: 15% 할인

final_price = total_price - discount  # 할인 후 최종 결제 금액

# 출력
print(final_price)

150000
135000.0

## **1-2. 제시문에 따라 주어진 수의 팩토리얼 구하는 코드를 작성하세요.(10점)**
- 주어진 `num`에 대해 `num`!(팩토리얼)을 구하는 코드를 작성하세요.
- 팩토리얼은 주어진 수부터 1까지의 모든 정수를 곱한 값입니다.

  ex)  
  - 4! = 4 × 3 × 2 × 1 = 24
  - 5! = 5 × 4 × 3 × 2 × 1 = 120
  - 6! = 6 × 5 × 4 × 3 × 2 × 1 = 720


  
  - 입력:`num` (0 이상 20 이하의 정수)
  -출력:
주어진 `num`에 대해 계산된 팩토리얼 값

**📌조건**
- `while` 문을 사용하여 해결
- 내장 함수는 `input`, `int`, `str`만 사용 가능
- 팩토리얼 계산을 위한 내장 함수나 라이브러리 사용 금지 (`math.factorial` 등 사용 금지)

**💚 Test Case**  
- [입력 예시]  
```
  5
```

- [출력 예시]  
  ```
  120
  ```

In [ ]:
# 입력 받기
num = int(input())

### 답안 작성 ###
# 초기 저장값 설정
result = 1

# while문을 사용하여 팩토리얼 계산
while num > 0:
    result *= num  # result에 num을 곱하기
    num -= 1  # num을 1 감소시켜 반복

# 출력
print(result)

5
120

## **1-3. 입력받은 수의 약수를 출력해 주세요 (12점)**
- 자연수 `mynum`을 입력받고, 그 수의 약수를 모두 출력하는 프로그램을 작성하세요.
- 단, 약수는 1부터 `mynum`까지의 수 중에서 `mynum`을 나누어 떨어지게 하는 수입니다.

**📌조건**
- 반복문과 조건문을 적절히 사용하여 해결
- 입력으로 주어지는 `mynum`은 2 이상인 자연수
- 출력 형식 :
 - 약수는 각 줄에 하나씩 출력
 - 1과 `mynum`은 반드시 포함
 - 약수는 오름차순으로 출력
 - 약수는 중복 없이 출력

**💚 Test Case**  
- [입력 예시]  
  ```
  6
  ```

  
- [출력 예시]  
```
1  
2  
3  
6
```

In [ ]:
# 입력 받기
mynum = int(input())

### 답안 작성 ###
# 1부터 mynum까지의 수를 반복
for i in range(1, mynum + 1):
    if mynum % i == 0:  # i가 mynum의 약수일 때
        print(i)
        continue  # 다음 i로 넘어가기

6
1
2
3
6

# **2️⃣ 문제 2**

## **2-1. 제시문에 따라 문제를 해결해주세요. (10점)**
- 1부터 100까지의 숫자 100개가 포함된 `numbers` 리스트를 생성해주세요.
- `numbers` 리스트를 이용하여 조건에 맞는 수를 추출하고, 각 변수에 저장해주세요.
  1. `first_20`: 리스트에서 첫 번째부터 20번째까지의 수
  2. `last_10`: 뒤에서부터 10개의 수
  3. `last_5_step`: 뒤에서부터 5씩 간격을 둔 수

📌 **조건**
- 사용자가 직접 숫자를 입력하는 방식 사용 불가 (사용시 **0점** 처리)


```
# 직접 숫자를 입력하는 방식 예시 코드 (해당 방식으로 코드 작성 시 0점 처리)

numbers = [1, 2, 3, ..., 100]
last_10 = [91, 92, 93, ..., 100]

```
- `reversed()` 사용 불가 (사용시 **0점** 처리)

**💚 Test Case**  
  
- 출력
```
첫 번째부터 20번째 수:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
뒤에서부터 10개의 숫자:
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
뒤에서부터 5씩 간격을 둔 숫자:
 [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
```

In [ ]:
### 예시 답안

# 1부터 100까지의 수가 포함된 numbers 리스트 생성 (1점)
numbers = list(range(1, 101))

# 첫 번째부터 20번째까지의 수를 저장하기 (2점)
first_20 = numbers[:20]

# 뒤에서부터 10개의 수를 저장하기 (오름차순) (3점)
last_10 = numbers[-10:]

# 뒤에서부터 5씩 간격을 둔 수를 저장하기 (내림차순) (4점)
last_step_5 = numbers[::-5]

# 결과 출력
print("첫 번째부터 20번째 수:\n", first_20)
print("\n뒤에서부터 10개의 숫자:\n", last_10)
print("\n뒤에서부터 5씩 간격을 둔 숫자:\n", last_step_5)

첫 번째부터 20번째 수:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

뒤에서부터 10개의 숫자:
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

뒤에서부터 5씩 간격을 둔 숫자:
 [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

## **2-2. 제시문에 따라 문제를 해결해주세요. (10점)**
- 사용자에게 입력받은 숫자들이 연속 증가 리스트인지 확인하세요.
  - 연속 증가 리스트는 **각 원소가 그 이전 원소보다 큰** 리스트입니다.
  - 사용자는 2개 이상의 정수를 입력한다고 가정합니다.
  - 각 숫자는 공백으로 구분되어 입력됩니다.
- 연속 증가 리스트가 아니라면, 연속 증가하지 않는 첫 번째 위치의 인덱스와 원소를 출력하세요.
  - 리스트의 인덱스는 0부터 시작하여 1씩 증가합니다.

**💚 Test Case**  
  
[예시 1]
- 입력
```
1 4 4 9 20
```

- 출력
```
연속 증가 리스트가 아닙니다.
인덱스: 2, 원소: 4
```

[예시 2]
- 입력
```
6 2 7 3 10 11
```

- 출력
```
연속 증가 리스트가 아닙니다.
인덱스: 1, 원소: 2
```

[예시 3]
- 입력
```
3 5 9 17 29 30
```

- 출력
```
연속 증가 리스트가 맞습니다.
```

In [ ]:
### 예시 답안
# 숫자 리스트 입력 (각 숫자는 공백으로 구분되어 입력됩니다.)
numbers = list(map(int, input().split()))

# 연속 증가 리스트인지 확인하기
## 연속 증가 리스트가 아닐 경우, 연속 증가하지 않는 첫 번째 위치와 숫자 출력하기
for i in range(1, len(numbers)):
    if numbers[i] <= numbers[i-1]:
        print(f"연속 증가 리스트가 아닙니다.\n인덱스: {i}, 원소: {numbers[i]}")
        break
else:
    print("연속 증가 리스트가 맞습니다.")

1 4 4 9 20
연속 증가 리스트가 아닙니다.
인덱스: 2, 원소: 4

## **2-3. 제시문에 따라 문제를 해결해주세요. (10점)**
- 사용자로부터 정수 하나를 입력받아 변수 `n`에 저장하세요.
- 사용자로부터 5개의 단어를 입력받아 `words` 리스트에 저장하세요.
- `words` 리스트의 단어 중 길이가 **n 이상**인 단어로만 구성된 부분 리스트 `long_words` 리스트를 만들어주세요.
- `long_words` 리스트에 들어있는 단어들의 길이의 합을 계산하고 변수 `total_len`에 저장하세요.
- `long_words` 리스트의 단어들을 알파벳순으로 정렬한 `sorted_long_words` 리스트를 만들어주세요.

**💚 Test Case**  
  
[예시 1]
- 입력
```
8
one
two
three
four
five
```

- 출력
```
long_words: []
long_words 단어 길이 총합: 0
sorted_long_words: []
```

[예시 2]
- 입력
```
5
one
four
second
fifteen
eleven
```

- 출력
```
long_words: ['second', 'fifteen', 'eleven']
long_words 단어 길이 총합: 19
sorted_long_words: ['eleven', 'fifteen', 'second']
```

In [ ]:
### 예시 답안

## 입력 부분
# 단어를 저장할 리스트
words = []

# 사용자로부터 변수 n을 입력받기
n = int(input('숫자 입력: '))

# 사용자로부터 5개의 단어를 입력받아 words 리스트에 저장하기
for i in range(5):
  words.append(input('단어 입력: '))

숫자 입력: 5
단어 입력: one
단어 입력: four
단어 입력: second
단어 입력: fifteen
단어 입력: eleven

In [ ]:
## 출력 부분
# words 리스트 중에서 길이가 n 이상인 단어로만 구성된 long words 리스트 생성하기
long_words = [word for word in words if len(word)>=n]

# long_words 리스트 출력하기
print(long_words)

# long_words 리스트에 들어있는 단어들의 길이의 합을 계산하기
total_len = 0
for word in long_words:
  total_len += len(word)
# total_len = sum(len(word) for word in long_words)

# total_len 출력하기
print(f"long_words 단어 길이 총합: {total_len}")

# long_words 리스트의 단어들을 알파벳순으로 정렬한 sorted_long_words 리스트 생성하기
sorted_long_words = sorted(long_words)

# sorted_long_words 출력하기
print(sorted_long_words)

['second', 'fifteen', 'eleven']
long_words 단어 길이 총합: 19
['eleven', 'fifteen', 'second']

## **2-4. 제시문에 따라 문제에 대한 답을 제시하고 해결해주세요. (10점)**
- 다음과 같이 학생별 각 과목의 점수가 담긴 이차원 데이터가 주어졌습니다.

  \begin{array}{|c|c|c|c|}
  \hline
  \text{번호} & \text{국어} & \text{영어} & \text{수학} \\
  \hline
  1 & 60 & 85 & 50 \\
  2 & 20 & 40 & 30 \\
  3 & 100 & 80 & 95 \\
  \hline
  \end{array}

- 이 문제의 목표는 학생별 총점과 각 과목의 최고점을 계산하는 것입니다.

### **2-4-1. 주관식 질문 (2점)**
- 화연이는 데이터를 이차원 리스트로 저장하기 위해 다음과 같은 파이썬 코드를 작성했습니다.
  ```
  # 점수 데이터가 담긴 이차원 리스트
  scores = [
      ["60", "85", "50"],
      ["20", "40", "30"],
      ["100", "80", "95"]
  ]
  ```

- 화연이의 코드에서는 `scores` 데이터가 **점수 계산에 적합하지 않은 형태로** 저장되어 있습니다.

❓ **그 이유는 무엇일까요? 이 문제를 해결하려면 어떻게 해야 하는지 해결 방법을 간략하게 설명해주세요.**

- **예시 답안**

주어진 데이터는 점수가 숫자가 아닌 `문자열`로 저장되어 있습니다.

이를 해결하기 위해서는 `정수형`으로 `형변환`한 후에 계산을 진행해야 합니다.

### **2-4-2. 코드 작성 (8점)**

- 각 학생별 총점을 계산해주세요.
  - **🔍힌트:** 각 학생의 점수는 가로 방향(=한 행)에 나열되어 있습니다.
- 과목별 최고점을 계산해주세요.
  - **🔍힌트:** 각 과목의 점수는 세로 방향(=각 열)에 나열되어 있습니다.

**💚 Test Case**  

- 출력
```
학생별 총점: [195, 90, 275]
과목별 최고점: [100, 85, 95]
```

In [ ]:
### 예시 답안
# 점수 데이터가 담긴 이차원 리스트
scores = [
    ["60", "85", "50"],
    ["20", "40", "30"],
    ["100", "80", "95"]
]

# 2-4-1번의 문제를 해결하여 scores 이차원 리스트를 재정의한 scores_new 생성하기
## 코드로 구현하면 2점, 직접 int로 리스트 만들면 1점
scores_new = [list(map(int, student_scores)) for student_scores in scores]

# 학생별 총점을 구하고 total_scores 리스트에 저장하기
total_scores = [sum(student) for student in scores_new]

print(f"학생별 총점: {total_scores}")

# 과목별 최고점을 구하고 max_scores 리스트에 저장하기
max_scores = []
for i in range(len(scores_new[0])):
  max_scores.append(max(score[i] for score in scores_new))
# max_scores = [max(subject) for subject in zip(*scores_new)]

print(f"과목별 최고점: {max_scores}")

# **3️⃣ 문제 3 (30점)**

## **3-1. 제시문에 따라 문제를 해결해 주세요. (7점)**

### **제시문**
- 아래 정의된 함수(`multiply_numbers`)는 두 수를 입력받아 두 수의 곱을 출력하고, 그 값을 반환해주는 함수입니다.
  ```python
    ## 함수 정의
    def multiply_numbers(a, b):
        result = a * b
        print(result)
  ```

- 이제, 입력을 받아 직사각형의 넓이를 계산해 봅시다.
  ```python
    ## 함수 호출 및 실행
    a, b = map(int, input('두 수를 공백으로 구분하여 입력하세요: ').split())
    result = multiply_numbers(a, b)

    print()

    print('두 수의 곱: ', result)
  ```

  ```
    두 수를 공백으로 구분하여 입력하세요: 5 7
    35

    두 수의 곱:  None
  ```

  코드를 실행한 결과, 분명히 중간에는 곱셈이 제대로 출력됐는데, 마지막에는 결과가 None이 나오네요😭

### **3-1-1.(4점)**
- 아래 셀에서 정의된 함수를 수정하여 함수가 정상적으로 동작할 수 있도록 해주세요.

**📌조건**
- 함수 "정의" 부분만 수정하셔야 합니다.
  - `호출 및 실행` 부분을 수정하시면 안됩니다.

**💚 Test Case**  
- [입력 예시 1]  
  두 수를 공백으로 구분하여 입력하세요: 5 7
  
- [출력 예시 1]  
  두 수의 곱:  35

In [ ]:
#예시답안
## 함수 정의
def multiply_numbers(a, b):
    result = a * b
    print(result)
    return result  # 결과 값을 반환하도록 수정

In [ ]:
### 함수 호출 및 실행
# 해당 부분은 수정하시면 안됩니다.

# 실행해 주세요!

a, b = map(int, input('두 수를 공백으로 구분하여 입력하세요: ').split())
result = multiply_numbers(a, b)

print()

print('두 수의 곱: ', result)

### **3-1-2.(3점)**
- 3-1-1의 코드를  위와 같이 수정하신 이유를 2~3줄 정도로 간단히 설명해 주세요.

(예시답안)
- 기존 함수는 print(result)를 통해서 곱셈 결과를 출력했지만, 반환(return)하지 않았기에 오류가 발생하였습니다. 따라서, return result를 추가하여 함수 호출 시 결과값이 올바른 곱셈 값이 반환되도록 수정하였습니다.
- print(result)는 단순히 결과를 출력할 뿐, 함수의 반환값이 없기 때문에 multiply_numbers(a, b)의 결과는 None이 됩니다. 반면, return을 사용하면 함수 실행 결과를 반환하기에 변수로 저장하거나 다른 연산에 활용할 수 있습니다. 따라서, return result를 추가하여 함수가 계산한 값을 반환하도록 수정했습니다.

**💡 답안**  
(마크다운 셀을 풀고 답안을 작성해 주세요!)

## **3-2. 문제를 읽고, 알맞은 답안을 작성해주세요. (10점)**


화연이의 가계부 💸

개강이 다가오면서 가계부 관리가 필요하다고 느낀 화연이!

### **3-2-1 (7점)**

- 화연이는 아래의 함수들을 작성하고자 합니다.
    - `expense(use, money)` 함수는 지출을 기록하는 함수로, 돈의 사용처(문자열)를 use로 사용 금액을 money로 입력받습니다. 이 때 아래 출력 예시와 같은 문구도 함께 출력하도록 작성해주세요.
    - `income(source, money)` 함수는 입금을 기록하는 함수로, 돈의 출처(문자열)를 source로 입금 금액을 money로 입력받습니다 이 때 아래 출력 예시와 같은 문구도 함께 출력하도록 작성해주세요.
    - `stop_writing()` 함수는 가계부 작성을 멈추고 현재 잔고를 출력해줍니다.

**💚 Test Case**  
- [예시 1]  
  - 입력
  ```
  income("2월 알바비", 400000)
  expense("이화상점 아이스티노", 3700)
  expense("학잠 구매", 35000)
  stop_writing()
  ```

  - 출력
  ```
  2월 알바비로 400000원이 입금되어 현재 잔고는 401000원입니다.
  이화상점 아이스티노 지출로 3700원이 나가 현재 잔고는 397300원입니다.
  학잠 구매 지출로 35000원이 나가 현재 잔고는 362300원입니다.
  현재 잔고는 362300원입니다.
  ```

In [ ]:
#예시답안
account_amount = 1000  # 계좌 초기 잔액

def income(source, money):
    global account_amount
    account_amount += money
    print(f"{source}로 {money}원이 입금되어 현재 잔고는 {account_amount}원입니다.")

def expense(use, money):
    global account_amount
    account_amount -= money
    print(f"{use} 지출로 {money}원이 나가 현재 잔고는 {account_amount}원입니다.")

In [ ]:
# 아래는 고치지 말아주세요
def stop_writing():
    print(f"현재 잔고는 {account_amount}원입니다. ")

income("2월 알바비", 400000)
expense("이화상점 아이스티노", 3700)
expense("학잠 구매", 35000)
stop_writing()

2월 알바비로 400000원이 입금되어 현재 잔고는 401000원입니다.
이화상점 아이스티노 지출로 3700원이 나가 현재 잔고는 397300원입니다.
학잠 구매 지출로 35000원이 나가 현재 잔고는 362300원입니다.
현재 잔고는 362300원입니다.

### **3-2-2.(3점)**
- 함수 구현을 위와 같이 정의하신 이유를 2~3줄 정도로 간단히 설명해 주세요.

(예시답안)
- 함수를 위와 같이 정의한 이유는 전역 변수인 account_amount를 사용하여 잔고를 관리해야 하기 때문입니다. income 함수와 expense 함수는 잔고를 업데이트하며, 각 함수는 현재 잔고를 출력하도록 구현하였습니다.
- 파이썬에서 함수 내부에서 변수를 수정하면 기본적으로 local 변수로 인식되므로, 함수 밖에서 정의된 account_amount를 함수 내에서 수정해도 새로운 local 변수로 생성되어, 기존에 있던 account_amount를 수정할 순 없습니다. 따라서 account_amount를 직접 변경하려면 global 변수를 사용해야 합니다. 따라서 global 변수로 account_amount를 선언했습니다.

**💡 답안**  
(마크다운 셀을 풀고 답안을 작성해 주세요!)

## **3-3. 문제를 읽고, 각 문제에 대해 알맞은 답안을 작성해주세요. (13점)**

- 여러분은 주어진 숫자 n에 대해, n번째 피보나치 수열의 값 f(n)을 반환하는 함수를 두 가지 방식으로 구현하고자 합니다.  
1. 재귀 함수를 활용한 `fibonacci_recursive`
2. 반복문을 활용한 `fibonacci_iterative`

⭐ 피보나치 수열이란?

각 항이 바로 앞 두 항의 합으로 이루어진 수열입니다.
피보나치 수열은 다음의 규칙을 따릅니다.

첫 번째 항: 1

두 번째 항 : 1

세 번째 항 : 2 (첫 번째 항 1 + 두 번째 항 1)


피보나치 수열의 예시 : 1, 1, 2, 3, 5, 8, 13, 21, ...

**💚 Test Case**
- [입력 예시 1]  
  5  
  [출력 예시 1]  
  5
  
- [입력 예시 2]  
  7  
  [출력 예시 2]  
  13
  
- [입력 예시 3]  
  2  
  [출력 예시 3]  
  1

### **3-3-1 (7점)**
주어진 숫자 n에 대해, n번째 피보나치 수열의 값 f(n)을 반환하는 `fibonacci_recursive` 함수를 구현하세요.

**📌조건**
- **재귀 함수** 활용
- 입력 `n`은 1 이상의 정수

In [ ]:
#예시답안
def fibonacci_recursive(n):
    if n == 1 or n == 2:
        return 1
    return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

In [ ]:
### Testing
# 문제에서 제시한 3가지 케이스에 대해 테스트 해주세요!

print(fibonacci_recursive(5))  # 출력: 5
print(fibonacci_recursive(7))  # 출력: 13
print(fibonacci_recursive(2))     # 출력: 1

5
13
1

### **3-3-2 (6점)**  
주어진 숫자 n에 대해, n번째 피보나치 수열의 값 f(n)을 반환하는 `fibonacci_iterative` 함수를 구현하세요.

**📌조건**
-  **반복문** 활용
- 입력 `n`은 1 이상의 정수

In [ ]:
#예시답안
def fibonacci_iterative(n):
    if n == 1 or n == 2:
        return 1

    a, b = 1, 1
    for _ in range(3, n + 1):
        a, b = b, a + b
    return b

In [ ]:
### Testing
# 문제에서 제시한 3가지 케이스에 대해 테스트 해주세요!

print(fibonacci_iterative(5))  # 출력: 5
print(fibonacci_iterative(7))  # 출력: 13
print(fibonacci_iterative(2))  # 출력: 1

5
13
1

# **4️⃣ 문제 4**

## **4-1. 넘파이(5점)**
- 주어진 배열에서 모든 요소의 평균값을 구하는 코드를 작성하세요.

  - 배열 요소들은 9, 3.4, 17, 8.17, 4.593입니다.
  - 이를 `numpy` 배열로 정의하여 평균을 계산하세요.

**📌 조건**  
- `numpy` 내장 함수를 활용해 주세요.
- 배열은 `arr`라는 변수에 직접 정의해 주세요.
  - `arr` 변수의 type은 `numpy.ndarray`여야 합니다.
- 배열의 평균값을 계산한 후, 결과는 소수점 이하 두 자리까지 출력해 주세요.

In [ ]:
import numpy as np  # 넘파이 모듈 호출

# 배열 정의
elements = [9, 3.4, 17, 8.17, 4.593]
arr = np.array(elements)  ###답안###

# 평균값 계산
mean_value = np.mean(arr)  ###답안###

# 소수점 둘째 자리까지 출력
print(round(mean_value, 2)) ###답안###

8.43

## **4-2. 판다스(5점)**
- 제시문에 따라 문제를 해결해 주세요.
---

- 우선 판다스 모듈을 import하고, 데이터 분석에 활용할 데이터 프레임을 생성하겠습니다.

In [ ]:
### 실행해 주세요!

# 판다스 모듈 호출
import pandas as pd

data = {
    "상품명": ["티셔츠", "청바지", "스니커즈", "모자", "백팩", "후드티", "샌들", "지갑", "코트", "운동화"],
    "카테고리": ["의류", "의류", "신발", "액세서리", "가방", "의류", "신발", "액세서리", "의류", "신발"],
    "가격": [25000, 55000, 80000, 20000, 95000, 40000, 35000, 30000, 120000, 70000],
    "판매량": [120, 80, 60, 150, 40, 100, 90, 110, 30, 50]
}

# 데이터프레임 생성
df = pd.DataFrame(data)
df

    상품명  카테고리      가격  판매량
0   티셔츠    의류   25000  120
1   청바지    의류   55000   80
2  스니커즈    신발   80000   60
3    모자  액세서리   20000  150
4    백팩    가방   95000   40
5   후드티    의류   40000  100
6    샌들    신발   35000   90
7    지갑  액세서리   30000  110
8    코트    의류  120000   30
9   운동화    신발   70000   50

### **4-2-1. 카테고리별 상품 개수를 구해주세요.**
**🔍 힌트**
- 판다스에는 데이터의 특정 열(column)에 있는 값들의 개수를 세는 방법이 있어요.

In [ ]:
df['카테고리'].value_counts()

카테고리
의류      4
신발      3
액세서리    2
가방      1
Name: count, dtype: int64

### **4-2-2. 각 상품의 총 매출액(가격 × 판매량)을 계산하여 새로운 `총매출` 열을 추가해 주세요.**

In [ ]:
df["총매출"] = df["가격"] * df["판매량"]

# 결과 확인
df

    상품명  카테고리      가격  판매량      총매출
0   티셔츠    의류   25000  120  3000000
1   청바지    의류   55000   80  4400000
2  스니커즈    신발   80000   60  4800000
3    모자  액세서리   20000  150  3000000
4    백팩    가방   95000   40  3800000
5   후드티    의류   40000  100  4000000
6    샌들    신발   35000   90  3150000
7    지갑  액세서리   30000  110  3300000
8    코트    의류  120000   30  3600000
9   운동화    신발   70000   50  3500000