# **1ì£¼ì°¨ ë³µìŠµê³¼ì œ**
- 1ì£¼ì°¨ ë³µìŠµê³¼ì œëŠ” **ë„˜íŒŒì´/íŒë‹¤ìŠ¤ ì—°ìŠµë¬¸ì œ**ì…ë‹ˆë‹¤.
- ì½”ë“œ ì‘ì„±í•˜ì‹œê³ , ì¶œë ¥ ê²°ê³¼ê¹Œì§€ ë‚˜ì˜¤ë„ë¡ ì‹¤í–‰ ë¶€íƒë“œë¦½ë‹ˆë‹¤.
  - ì œì¶œ ì‹œ íŒŒì¼ëª… ë³¸ì¸ ì´ë¦„ìœ¼ë¡œ ë³€ê²½í•´ ì£¼ì„¸ìš”. ex) Week1_ë³µìŠµê³¼ì œ_OOO
- êµì¬ì—ì„œ ë‹¤ë£¨ì§€ ì•Šì€ ë©”ì†Œë“œë„ ë‹¤ìˆ˜ í¬í•¨ë˜ì–´ ìˆì§€ë§Œ êµ¬ê¸€ë§ì´ë‚˜ ì±—ì§€í”¼í‹° ë“±ì„ í™œìš©í•´ì„œë¼ë„ í’€ì–´ì£¼ì„¸ìš”! í•œ ë²ˆì”© ì‚¬ìš©í•´ ë³´ë©´ ì¢‹ì„ ê²ƒ ê°™ì•„ ì–´ë ¤ì›Œë„ ë¬¸ì œì— í¬í•¨í–ˆìŠµë‹ˆë‹¤ ğŸ¤—

## **ë„˜íŒŒì´**

### 1. Import the numpy package under the name `np`.

In [1]:
import numpy as np

### 2. Print the numpy version and the configuration.

(hint: `np.__version__`, `np.show_config`)

In [8]:
print(np.__version__)
np.show_config

1.26.4

### 3. Create a null vector of size 10.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
```

In [18]:
zero_array = np.zeros(10)
print(zero_array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### 4. Create a null vector of size 10 but the fifth value which is 1.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
```

In [19]:
zero_array[4] = 1
print(zero_array)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### 5. Create a vector with values ranging from 10 to 49.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
```

In [22]:
array1 = np.arange(10, 50)
print(array1)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

### 6. Reverse a vector (first element becomes last).

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[9 8 7 6 5 4 3 2 1 0]
```

In [26]:
array2 = np.arange(10)
print(array2[::-1])

[9 8 7 6 5 4 3 2 1 0]

### 7. Create a 3x3 matrix with values ranging from 0 to 8.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[0 1 2]
 [3 4 5]
 [6 7 8]]
```

In [27]:
array1d = np.arange(9)
array2d = array1d.reshape(3, 3)
print(array2d)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

### 8. Find indices of non-zero elements from [1,2,0,0,4,0].

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
(array([0, 1, 4]),)
```

In [30]:
array3d = np.array([1,2,0,0,4,0])
indices = np.nonzero(array3d)
print(indices)

(array([0, 1, 4]),)

### 9. Create a 3x3 identity matrix.

(hint: `np.eye`)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
```

In [31]:
identity_matrix = np.eye(3)
print(identity_matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### 10. Create a 3x3x3 array with random values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[[0.30742852 0.26458726 0.85474383]
  [0.80234531 0.76268902 0.91286677]
  [0.8804109  0.51011378 0.82103555]]

 [[0.403753   0.83120234 0.15202655]
  [0.75782685 0.0732058  0.48148689]
  [0.2089428  0.44968622 0.88134184]]

 [[0.52251191 0.10738374 0.86279648]
  [0.26203911 0.42157754 0.68856833]
  [0.58133626 0.31059127 0.71354172]]]
```

In [32]:
random_array = np.random.random((3, 3, 3))
print(random_array)

[[[0.1800323  0.26416039 0.68911499]
  [0.46509585 0.12987254 0.07603839]
  [0.63783201 0.26417631 0.98326746]]

 [[0.99423724 0.756457   0.53629721]
  [0.16474286 0.39216221 0.32065423]
  [0.4755735  0.12612472 0.01745256]]

 [[0.71859343 0.19999167 0.69894525]
  [0.19309256 0.73862285 0.9390048 ]
  [0.27298689 0.5632711  0.68400918]]]

### 11. Create a 10x10 array with random values and find the minimum and maximum values.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.018360924693465508 0.9990506368595156
```

In [33]:
arr = np.random.random((10, 10))
min_value = arr.min()
max_value = arr.max()

print(min_value, max_value)

0.026032782977324254 0.9960042947117489

### 12. Create a random vector of size 30 and find the mean value.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
0.46249036320403636
```

In [34]:
vec = np.random.random(30)
mean_value = vec.mean()

print(mean_value)

0.527745591271666

### 13. Create a 2d array with 1 on the border and 0 inside. (size: 10x10)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]
```

In [35]:
array4 = np.ones((10, 10))
array4[1:-1, 1:-1] = 0

print(array4)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

### 14. How to add a border (filled with 0's) around an existing array?

(hint: ì¸ë±ì‹± ì‚¬ìš©)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

 # after
 [[0. 0. 0. 0. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 1. 1. 1. 0.]
  [0. 0. 0. 0. 0.]]

```

In [42]:
array5 = np.ones((5, 5))
print("# before")
print(array5)

new_arr = array5.copy()
new_arr[[0, -1], :] = 0  # ì²« í–‰ê³¼ ë§ˆì§€ë§‰ í–‰ì„ 0ìœ¼ë¡œ ë³€ê²½
new_arr[:, [0, -1]] = 0  # ì²« ì—´ê³¼ ë§ˆì§€ë§‰ ì—´ì„ 0ìœ¼ë¡œ ë³€ê²½

print("\n# after")
print(new_arr)

# before
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

# after
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

### 15. What is the result of the following expression?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
np.nan in set([np.nan])
0.3 == 3 * 0.1
```

In [45]:
print(0 * np.nan) # 0 * nanì€ nan
print(np.nan == np.nan) # ìê¸°ìì‹ ê³¼ë„ ê°™ì§€ ì•ŠìŒ
print(np.inf > np.nan) # ì–´ë–¤ ìˆ˜ì™€ ë¹„êµí•´ë„ False
print(np.nan - np.nan) # nan ê°„ ì—°ì‚°ì˜ ê²°ê³¼ëŠ” nan
print(np.nan in set([np.nan])) # setì€ nanì„ í¬í•¨í•¨
print(0.3 == 3 * 0.1) # ë¶€ë™ì†Œìˆ˜ì  ì˜¤ì°¨

nan
False
False
nan
True
False

### 16. Normalize a 5x5 random matrix.

(hint: (x - mean) / std)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[-1.4765971   0.9582795  -1.29910242  1.0250981  -0.79801651]
 [ 0.57945383 -1.28559078  0.02733238  0.99675052  1.2702088 ]
 [-0.08513084 -1.4686812  -0.78813593 -0.34559303 -1.15052328]
 [ 0.98183813 -1.41255344  0.37190169  1.05697419 -0.02668639]
 [-1.14466851  0.98911205  1.14499256  0.69454882  1.18478886]]
```

In [46]:
matrix = np.random.random((5, 5))

mean = matrix.mean()
std = matrix.std()

normalized_matrix = (matrix - mean) / std

print(normalized_matrix)

[[ 1.48614893 -1.22588236 -0.43880552  0.04519503  0.26710045]
 [-0.56141505 -1.18087592  1.24055944  0.15519172 -1.33112625]
 [ 0.744963    0.18629611 -0.71949092 -0.72591429  1.38063844]
 [ 1.02363589 -1.13438813  1.57791002 -1.11761625 -0.50217877]
 [ 0.2971831  -1.11928397  1.45115716  1.25042705 -1.04942892]]

### 17. Multiply a 5x3 matrix by a 3x2 matrix. (real matrix product)

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]
```

In [47]:
A = np.ones((5, 3))

B = np.ones((3, 2))

result = np.dot(A, B)

print(result)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

### 18. What are the result of the following expressions?

(ì‹¤í–‰ í›„, ê²°ê³¼ì— ëŒ€í•œ ì£¼ì„ ì‘ì„±í•´ì£¼ì„¸ìš”. ex. ì¶œë ¥ ê²°ê³¼ì— ëŒ€í•œ ì´ìœ )

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [49]:
print(np.array(0) / np.array(0)) # 0ì„ 0ìœ¼ë¡œ ë‚˜ëˆ„ì–´ nan ë°œìƒ
print(np.array(0) // np.array(0)) # ì •ìˆ˜ ë‚˜ëˆ—ì…ˆ
print(np.array([np.nan]).astype(int).astype(float)) # ì‹œìŠ¤í…œì˜ ìµœì†Ÿê°’ìœ¼ë¡œ ì²˜ë¦¬

nan
0
[-9.22337204e+18]

<ipython-input-49-b9d7199bea5a>:1: RuntimeWarning: invalid value encountered in divide
  print(np.array(0) / np.array(0)) # 0ì„ 0ìœ¼ë¡œ ë‚˜ëˆ„ì–´ nan ë°œìƒ
<ipython-input-49-b9d7199bea5a>:2: RuntimeWarning: divide by zero encountered in floor_divide
  print(np.array(0) // np.array(0)) # ì •ìˆ˜ ë‚˜ëˆ—ì…ˆ
<ipython-input-49-b9d7199bea5a>:3: RuntimeWarning: invalid value encountered in cast
  print(np.array([np.nan]).astype(int).astype(float)) # ì‹œìŠ¤í…œì˜ ìµœì†Ÿê°’ìœ¼ë¡œ ì²˜ë¦¬

### 19. Create a 5x5 matrix with row values ranging from 0 to 4.

#### âœ… ì¶œë ¥ ì˜ˆì‹œ

```
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]
```

In [50]:
matrix = np.tile(np.arange(5), (5, 1))

print(matrix)

[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

### 20. Create a random vector of size 10 and sort it.

#### âœ…ì¶œë ¥ ì˜ˆì‹œ


```
[0.11443045 0.16715169 0.32515597 0.38374227 0.48327044 0.78728921
 0.80523192 0.85915686 0.96930939 0.99586525]

```

In [51]:
vector = np.random.random(10)

sorted_vector = np.sort(vector)

print(sorted_vector)

[0.1189879  0.16922101 0.31097825 0.35079725 0.37407762 0.4025305
 0.54472636 0.55091396 0.62778238 0.73911354]

## **íŒë‹¤ìŠ¤**


### 1. Import pandas under the alias `pd`.

In [52]:
import pandas as pd

### 2. Print the version of pandas that has been imported.

In [53]:
print(pd.__version__)

2.2.2

## 3~20ë²ˆ ë¬¸ì œëŠ” ì•„ë˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì§„í–‰ë©ë‹ˆë‹¤.

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

### 3. Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [56]:
# ë¬¸ì œ í’€ì´ ì „ numpy ì„í¬íŠ¸
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 4. Display a summary of the basic information about this DataFrame and its data.  
(hint: there is a single method that can be called on the DataFrame)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

### 5. Display a summary of the basic statistics about data of this DataFrame.  
(hint: there is a single method that can be called on the DataFrame)

In [58]:
print(df.describe())

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

### 6. Return the first 3 rows of the DataFrame `df`.

In [59]:
print(df.head(3))

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 7. Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [60]:
df_set = df[['animal', 'age']]
print(df_set)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 8. Select the data in rows `[3, 4, 8]` **and** in columns `['animal', 'age']`.

### 9. Select only the rows where the number of visits is greater than 3.

In [61]:
df_selected = df.loc[df.index[[3, 4, 8]], ['animal', 'age']]
print(df_selected)

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 10. Select the rows where the age is missing, i.e. it is `NaN`.

In [62]:
df_miss_age = df[df['age'].isna()]
print(df_miss_age)

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 11. Select the rows where the animal is a cat *and* the age is less than 3.

In [63]:
df_cat3 = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(df_cat3)

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

### 12. Select the rows the age is between 2 and 4 (inclusive).

In [64]:
df_24 = df[(df['age'] >= 2) & (df['age'] <= 4)]
print(df_24)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

### 13. Change the age in row 'f' to 1.5.

In [65]:
df.at['f', 'age'] = 1.5
print(df.loc['f'])

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

### 14. Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [66]:
total_visits = df['visits'].sum()
print(total_visits)

19

### 15. Calculate the mean age for each different animal in `df`.

In [68]:
mean_age_animal = df.groupby('animal')['age'].mean()
print(mean_age_animal)

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 16. Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [69]:
df.loc['k'] = ['rabbit', 2.0, 1, 'no']
print(df)

df = df.drop('k')
print(df)

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c   snake  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  rabbit  2.0       1       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 17. Count the number of each type of animal in `df`.

In [70]:
animal_counts = df['animal'].value_counts()
print(animal_counts)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

### 18. Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).
#### âœ…ì¶œë ¥ ì˜ˆì‹œ

 index |animal	| age	|visits|	priority
---|---|---|---|---
i|	dog|	7.0|	2|	no
e|	dog|	5.0|	2|	no
g|	snake|	4.5|	1|	no
j|	dog|	3.0|	1|	no
b|	cat|	3.0|	3|	yes
a|	cat|	2.5|	1|	yes
f|	cat|	1.5|	3|	no
c|	snake|	0.5|	2|	no
h|	cat|	NaN|	1|	yes
d|	dog|	NaN|	3|	yes

In [71]:
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(df_sorted)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

### 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.  
(hint: `map`)

In [72]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df)

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 20. In the 'animal' column, change the 'snake' entries to 'python'.

In [73]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [74]:
# í™•ì¸ìš© df ì¶œë ¥ ì…€
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

### 21. Given a DataFrame of random numeric values:
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

how do you subtract the row mean from each element in the row?

In [75]:
# ëœë¤ ì‹œë“œ ê³ ì •
np.random.seed(2025)

df = pd.DataFrame(np.random.random(size=(5, 3)))

df_centered = df.sub(df.mean(axis=1), axis=0)

print(df_centered)

          0         1         2
0 -0.516494  0.235870  0.280624
1  0.081768  0.024435 -0.106204
2 -0.047373 -0.212124  0.259497
3  0.115235 -0.230544  0.115309
4 -0.229731  0.498009 -0.268278